.connector-container{
    
    position: relative; /* Establece la posición relativa para los elementos hijos */
    width: 80px;
    height: 30px; /* Height of the connector  LARGO*/
    left: 50px; /* Horizontal position */
    border-left: 2px solid #000000;
    
    
    
}


.connector::before {
    content: '';
    width: 20px;/*largo*/ 
    height: 30%; /* Aumenta el largo hacia abajo */
    left: -2px; /* Se mueve hacia la derecha */
    top: 5px; /* Se mueve hacia abajo */
    position: absolute;
    border-bottom: 2px #000000 solid; /* Solo muestra el borde inferior */
    border-left: 2px #000000 solid; /* Solo muestra el borde izquierdo */
    border-radius: 8px 5px 2px 50px; /* Establece el radio de la esquina inferior derecha */
    
}

