@use "components/tree";
// @import "tree/tree1";
//@import 'tree/tree2'

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
